{
  "openapi": "3.0.0",
  "info": {
    "title": "STORES APIドキュメント",
    "version": "202211",
    "description": "STORES APIの利用方法を記載したドキュメントです。\n\n## 注意事項\n同じ Bearer トークンで短時間に大量のアクセスがあった場合、一定時間そのトークンのアクセスを制限することがあります。<br/>\nBearer トークンは[クレデンシャル](https://github.com/heyinc/development-partner-docs/blob/master/auth-credential.md) または [OAuth2.0 で取得したアクセストークン](https://github.com/heyinc/development-partner-docs/blob/master/auth-oauth.md)を指します。\n\nアクセスが制限がされる場合、API はステータスコード 429 を返します。",
    "contact": {},
    "termsOfService": "https://stores.jp/ec/api_terms"
  },
  "servers": [
    {
      "url": "https://api.stores.dev"
    }
  ],
  "paths": {
    "/retail/202211/orders": {
      "get": {
        "summary": "オーダー一覧",
        "tags": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    }
                  }
                },
                "examples": {
                  "STORES レジで発生したオーダー": {
                    "value": {
                      "orders": [
                        {
                          "id": "624ec8c2768f72913ffe9694",
                          "number": "6187637539",
                          "sales_channel_id": "6074246c768f720a0edcfd4e",
                          "email": null,
                          "sales_amount": 2900,
                          "sales_discount": 400,
                          "cancel_amount": 0,
                          "cancel_discount": 0,
                          "sales_tax": 263,
                          "cancel_tax": 0,
                          "tax_details": [
                            {
                              "tax_class": "taxable",
                              "tax_rate": 0.1,
                              "sales_tax": 263,
                              "cancel_tax": 0,
                              "sales_amount": 2900,
                              "sales_discount": 400,
                              "cancel_amount": 0,
                              "cancel_discount": 0
                            }
                          ],
                          "payment_amount": 2900,
                          "payment_tax": 263,
                          "transactions": [
                            {
                              "id": "624fa1ac768f72913ffe969a",
                              "type": "custom",
                              "payment_method_name": "商品券",
                              "sales_channel_id": "6074246c768f720a0edcfd4e",
                              "amount": 2000,
                              "deposit": 2000,
                              "change": 0,
                              "paid_at": "2022-04-08T11:45:00+09:00",
                              "payment_fee": 0,
                              "payment_fee_rate": 0,
                              "fee": null,
                              "system_fee": null
                            },
                            {
                              "id": "624fa2a3768f72913ffe969c",
                              "type": "cash",
                              "sales_channel_id": "6074246c768f720a0edcfd4e",
                              "amount": 900,
                              "deposit": 1000,
                              "change": 100,
                              "paid_at": "2022-04-08T11:45:30+09:00",
                              "payment_fee": 0,
                              "payment_fee_rate": 0,
                              "fee": null,
                              "system_fee": null
                            }
                          ],
                          "deliveries": [
                            {
                              "id": "624ec8c3768f72913ffe9696",
                              "type": "counter",
                              "items": [
                                {
                                  "id": "624ec8c3768f72913ffe9697",
                                  "type": "regular",
                                  "name": "Tシャツ",
                                  "item_id": "60370f63768f721041d91a0c",
                                  "variation_id": "60370f63768f721041d91a10",
                                  "variation_name": "Mサイズ",
                                  "code": null,
                                  "barcode": "4912345123459",
                                  "tax_rate": 0.1,
                                  "regular_price": 3300,
                                  "quantity": 1,
                                  "option": [
                                    {
                                      "id": "624ec8c3768f72913ffe9699",
                                      "name": "¥100引き",
                                      "price": -100,
                                      "quantity": 1
                                    }
                                  ]
                                }
                              ],
                              "canceled_at": null,
                              "shipped_at": "2022-04-08T11:55:19+09:00"
                            }
                          ],
                          "option": [
                            {
                              "id": "624ec8c3768f72913ffe9695",
                              "type": "amount_discount",
                              "name": "¥300引き",
                              "price": -300
                            }
                          ],
                          "note": "オーダーのメモ",
                          "remarks": "",
                          "receipt_address": null,
                          "ordered_at": "2022-04-07T20:19:31+09:00",
                          "readied_at": "2022-04-08T11:45:00+09:00",
                          "billing_address": {
                            "first_name": "太郎",
                            "last_name": "田中",
                            "tel": "00000000000",
                            "zip_code": "1500011",
                            "country": "日本",
                            "prefecture": "東京都",
                            "address": "渋谷区東3丁目16番3号"
                          }
                        }
                      ]
                    }
                  },
                  "STORES（EC）で発生したオーダー": {
                    "value": {
                      "orders": [
                        {
                          "id": "624ec8c2768f72913ffe9694",
                          "number": "6187637539",
                          "sales_channel_id": null,
                          "email": "hoge@example.com",
                          "sales_amount": 2900,
                          "sales_discount": 400,
                          "cancel_amount": 0,
                          "cancel_discount": 0,
                          "sales_tax": 263,
                          "cancel_tax": 0,
                          "tax_details": [
                            {
                              "tax_class": "taxable",
                              "tax_rate": 0.1,
                              "sales_tax": 263,
                              "cancel_tax": 0,
                              "sales_amount": 2900,
                              "sales_discount": 400,
                              "cancel_amount": 0,
                              "cancel_discount": 0
                            }
                          ],
                          "payment_amount": 2900,
                          "payment_tax": 263,
                          "transactions": [
                            {
                              "id": "624fa1ac768f72913ffe969a",
                              "type": "credit_card",
                              "sales_channel_id": null,
                              "amount": 2900,
                              "deposit": 2000,
                              "change": 0,
                              "paid_at": "2022-04-08T11:45:00+09:00",
                              "payment_fee": 105,
                              "payment_fee_rate": 0.036,
                              "fee": null,
                              "system_fee": null
                            }
                          ],
                          "deliveries": [
                            {
                              "id": "624ec8c3768f72913ffe9696",
                              "type": "shipping",
                              "items": [
                                {
                                  "id": "624ec8c3768f72913ffe9697",
                                  "type": "regular",
                                  "name": "Tシャツ",
                                  "item_id": "60370f63768f721041d91a0c",
                                  "variation_id": "60370f63768f721041d91a10",
                                  "variation_name": "Mサイズ",
                                  "code": "AB1234-C5",
                                  "barcode": null,
                                  "tax_rate": 0.1,
                                  "regular_price": 3300,
                                  "quantity": 1,
                                  "option": [
                                    {
                                      "id": "624ec8c3768f72913ffe9699",
                                      "name": "¥100引き",
                                      "price": -100,
                                      "quantity": 1
                                    }
                                  ]
                                }
                              ],
                              "canceled_at": null,
                              "shipped_at": "2022-04-08T11:55:19+09:00",
                              "shipping_fee": {
                                "tax_class": "taxable",
                                "tax_rate": 0.1,
                                "amount": 0
                              },
                              "shipping_address": {
                                "first_name": "太郎",
                                "last_name": "田中",
                                "tel": "00000000000",
                                "zip_code": "1500011",
                                "country": "日本",
                                "prefecture": "東京都",
                                "address": "渋谷区東3丁目16番3号"
                              }
                            }
                          ],
                          "option": [
                            {
                              "id": "624ec8c3768f72913ffe9695",
                              "type": "coupon_discount",
                              "name": "¥300引き",
                              "price": -300
                            }
                          ],
                          "note": "オーダーのメモ",
                          "remarks": "備考",
                          "receipt_address": "〇〇株式会社",
                          "ordered_at": "2022-04-07T20:19:31+09:00",
                          "readied_at": "2022-04-08T11:45:00+09:00",
                          "billing_address": {
                            "first_name": "太郎",
                            "last_name": "田中",
                            "tel": "00000000000",
                            "zip_code": "1500011",
                            "country": "日本",
                            "prefecture": "東京都",
                            "address": "渋谷区東3丁目16番3号"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Errors"
          },
          "403": {
            "$ref": "#/components/responses/Errors"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-retail-202211-orders",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "ids",
            "description": "オーダー ID で検索する場合に指定してください。<br/>\n複数指定する場合はカンマ(,)区切りで指定してください。"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "numbers",
            "description": "オーダー番号で検索する場合に指定してください。<br/>\n複数指定する場合はカンマ(,)区切りで指定してください。<br/>\nオーダー番号は数字のみ指定可能です。"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "settled_sales_channel",
            "description": "オーダーを決済された店舗で検索したい場合に指定してください。<br/>\n\n- `ec` ... EC で決済されたオーダーを検索したい場合に指定\n- `regi` ... STORES レジ で決済されたオーダーを検索したい場合に指定\n- 特定の sales_channel_id ... STORES レジ を利用している特定の店舗で検索したい場合に指定"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "ordered_at_from",
            "description": "特定の日時以降のオーダーを検索したい場合に指定してください。<br/>\nフォーマット: `YYYY-MM-DD` または `YYYY-MM-DDThh:mm:ss`"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "ordered_at_to",
            "description": "特定の日時以前のオーダーを検索したい場合に指定してください。<br/>\nフォーマット: `YYYY-MM-DD` または `YYYY-MM-DDThh:mm:ss`"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "canceled_at_from",
            "description": "特定の日時以降にキャンセルまたは返金されたオーダーを検索したい場合に指定してください。<br/>\nフォーマット: `YYYY-MM-DD` または `YYYY-MM-DDThh:mm:ss`"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "canceled_at_to",
            "description": "特定の日時以前にキャンセルまたは返金されたオーダーを検索したい場合に指定してください。<br/>\nフォーマット: `YYYY-MM-DD` または `YYYY-MM-DDThh:mm:ss`"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "readied_at_from",
            "description": "特定の日時以降の `readied_at` でオーダーを検索したい場合に指定してください。<br/>\nフォーマット: `YYYY-MM-DD` または `YYYY-MM-DDThh:mm:ss`<br/>"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "readied_at_to",
            "description": "特定の日時以前の `readied_at` でオーダーを検索したい場合に指定してください。<br/>\nフォーマット: `YYYY-MM-DD` または `YYYY-MM-DDThh:mm:ss`<br/>"
          },
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "name": "delivery_start_date_from",
            "description": "特定の日時以降に`配送日指定の最短配送希望日`、`予約販売の発送開始予定時期`が設定されたオーダーを検索したい場合に指定してください。<br/>\nフォーマット: `YYYY-MM-DD`\n\n`予約販売の発送開始予定時期`の値は検索時には下記の日付に変換されます。\n- 上旬(`early`) → 1日\n- 中旬(`middle`) → 11日\n- 下旬(`late`) → 21日"
          },
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "name": "delivery_start_date_to",
            "description": "特定の日時以前に`配送日指定の最短配送希望日`、`予約販売の発送開始予定時期`が設定されたオーダーを検索したい場合に指定してください。<br/>\nフォーマット: `YYYY-MM-DD`\n\n`予約販売の発送開始予定時期`の値は検索時には下記の日付に変換されます。\n- 上旬(`early`) → 1日\n- 中旬(`middle`) → 11日\n- 下旬(`late`) → 21日"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "paid",
                "unpaid"
              ]
            },
            "in": "query",
            "name": "paid_status",
            "description": "決済のステータスを指定してください。<br/>\n\n- `paid` ... 決済済み\n- `unpaid` ... 未決済\n\n※決済方法 が`代金引換`のオーダーは決済の有無をシステムで管理していないため、`paid_status`の検索結果には出力されません。"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "shipped",
                "waiting"
              ]
            },
            "in": "query",
            "name": "delivery_status",
            "description": "配送のステータスを指定してください。<br/>\n\n- `shipped` ... 発送済み\n- `waiting` ... 発送待ち\n\n※`発送待ち`の絞り込みでは発送可能なオーダーのみ出力され、発送されていないオーダーが全て出力されるわけではありません。未決済のオーダーなどは除外されます。"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            },
            "in": "query",
            "name": "direction",
            "description": "オーダー日時による並べ替えの方向を指定します。\n\n- `desc` ... 降順\n- `asc` ... 昇順"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "description": "オーダーの一覧をオーダーされた日時の降順で返します。\n\n※<span style=\"color: red\">実際のオーダー日時からこのAPIに出力されるまでに時間がかかる場合があります。</span><br/>\n\n### 202109のオーダー一覧からの変更点\n- レジオーダーも取得可能になりました\n- 配送日指定の指定日と予約販売の発送開始日時で検索できるようになりました\n- 配送情報と決済情報がそれぞれ`deliveries`, `transactions`に分かれてResponseに出力されます\n- 以前の`status`の検索と同じ検索を行いたい場合は下記のように検索条件を指定してください\n  | 202109の検索 | 202211の検索 |\n  | -- | -- |\n  | `shipped` | `delivery_status`に`shipped`を指定 |\n  | `pending` | `delivery_status`に`waiting`を指定 |\n  | `unpaid` | `paid_status`に`unpaid`を指定 |\n  | `cancel`<br/> `repayment` | `canceled_at_from`, `canceled_at_to`で検索<br/>`transactions`にマイナスの`amount`のデータが存在すれば`repayment`, なければ`cancel`とみなす|"
      },
      "parameters": []
    },
    "/retail/202211/items": {
      "get": {
        "tags": [],
        "summary": "アイテム一覧",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "",
                      "items": {
                        "$ref": "#/components/schemas/Item"
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "items": [
                        {
                          "id": "616950cd768f7263b4dab1a1",
                          "name": "Tシャツ",
                          "created_at": "2021-12-09T12:30:00+09:00",
                          "status": "shown",
                          "image_urls": [
                            "https://example.com/images/1",
                            "https://example.com/images/2",
                            "https://example.com/images/3"
                          ],
                          "limited_quantity": 0,
                          "description": "オリジナルのTシャツです。",
                          "reduced_tax": false,
                          "type": "regular",
                          "price": 900,
                          "regular_price": 1000,
                          "discount_amount": 3,
                          "discount_rate": 0.1,
                          "category_ids": [
                            "6fe0533a768f726223c76f71"
                          ],
                          "delivery_method_ids": {
                            "domestic": "616950cd768f7263b4dab1a1"
                          },
                          "preorder_sales": {
                            "start_month": "202112",
                            "end_month": "202201",
                            "start_period": "early",
                            "end_period": "late"
                          },
                          "sales_period": {
                            "period_start_at": "2021-12-09T12:30:00+09:00",
                            "period_end_at": "2022-01-10T12:30:00+09:00"
                          },
                          "variations": [
                            {
                              "id": "5fe0533a768f726223c76f70",
                              "name": "S",
                              "quantity": null,
                              "code": "1",
                              "barcode": null,
                              "sales_price": 900,
                              "regular_price": 1000,
                              "discount_amount": 100,
                              "discount_rate": 0.1
                            },
                            {
                              "id": "5fe0533a768f726223c76f71",
                              "name": "M",
                              "quantity": 20,
                              "code": "2",
                              "barcode": "4912345678904",
                              "sales_price": 900,
                              "regular_price": 1000,
                              "discount_amount": 100,
                              "discount_rate": 0.1
                            },
                            {
                              "id": "600a3c13768f72b2a6baabea",
                              "name": "L",
                              "quantity": 10,
                              "code": "3",
                              "barcode": null,
                              "sales_price": 900,
                              "regular_price": 1000,
                              "discount_amount": 100,
                              "discount_rate": 0.1
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Errors"
          },
          "403": {
            "$ref": "#/components/responses/Errors"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-retail-202211-items",
        "description": "アイテムの一覧をダッシュボードで設定されている並び順で返します。\n\n※店舗の在庫数は取得できません。",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "ids",
            "description": "アイテムidで検索する場合に指定してください。 複数指定する場合はカンマ(,)区切りで指定してください。"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "shown",
                "hidden",
                "unlisted"
              ]
            },
            "in": "query",
            "name": "status",
            "description": "アイテムのステータスで検索する場合に指定してください。\n\n- shown ... 公開\n- hidden ... 非公開\n- unlisted ... 限定公開"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "in_stock",
            "description": "在庫の有無を検索したい場合に指定してください。"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "in": "query",
            "description": "予約販売のアイテムのみ検索したい場合に`true`を指定してください。",
            "name": "only_preorder_sales"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "in": "query",
            "name": "keyword",
            "description": "下記の項目を対象に部分一致の検索を行いたい場合に指定してください。\n\n- アイテム名\n- アイテム説明\n- バーコード\n- 品番\n\n`keyword`を指定した場合、`keyword`の関連度順で結果を返します。"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ]
      },
      "post": {
        "tags": [],
        "summary": "アイテム作成",
        "responses": {
          "201": {
            "$ref": "#/components/responses/Item"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "指定したカテゴリーIDからカテゴリー情報が取得できなかった場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "指定したカテゴリーIDに誤りがあります。"
                        }
                      ]
                    }
                  },
                  "指定した配送方法IDから配送方法情報が取得できなかった場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "指定した配送方法に誤りがあります。"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Errors"
          },
          "423": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "errors": [
                        {
                          "message": "アイテム情報の登録に失敗しました。時間をおいて再度お試しください。"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [],
        "operationId": "create-retail-202211-items",
        "description": "指定した内容でアイテムを登録します。  \n物販のアイテムのみ作成可能です。\n\n※店舗の在庫数は設定できません。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "アイテム名"
                  },
                  "description": {
                    "type": "string",
                    "description": "商品説明"
                  },
                  "images": {
                    "type": "array",
                    "description": "アップロードした画像のファイル名  \nアイテム用画像アップロード情報生成APIから取得したファイル名を指定してください。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "category_ids": {
                    "type": "array",
                    "description": "カテゴリーID  \n子カテゴリーのIDを設定するとそのカテゴリーの親カテゴリー設定されます。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "reduced_tax": {
                    "type": "boolean",
                    "description": "軽減税率対象か否か",
                    "default": false
                  },
                  "delivery_method_ids": {
                    "type": "object",
                    "description": "配送方法  \n※配送方法を設定するには送料詳細設定のアドオンがONになっている必要があります。",
                    "properties": {
                      "domestic": {
                        "description": "配送方法ID(国内)",
                        "type": "string"
                      },
                      "overseas": {
                        "description": "配送方法ID(海外)",
                        "type": "string"
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "description": "ステータス\n- shown ... 公開\n- hidden ... 非公開\n\nアイテムを公開するには価格、商品説明、画像が設定されている必要があります。",
                    "enum": [
                      "shown",
                      "hidden"
                    ]
                  },
                  "limited_quantity": {
                    "type": "integer",
                    "description": "個数制限  \n※個数制限を設定するには購入個数制限のアドオンをONにする必要があります。"
                  },
                  "type": {
                    "type": "string",
                    "description": "アイテムの種類\n- regular ... 物販",
                    "enum": [
                      "regular"
                    ]
                  },
                  "variations": {
                    "type": "array",
                    "description": "バリエーション",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "バリエーション名"
                        },
                        "quantity": {
                          "type": "integer",
                          "description": "ネットショップの在庫数  \n※店舗の在庫数は設定できません。  \n\n在庫数が無制限の場合は `null`"
                        },
                        "code": {
                          "type": "string",
                          "description": "アイテム番号(SKU、品番)"
                        },
                        "barcode": {
                          "type": "string",
                          "nullable": true,
                          "description": "バーコード"
                        },
                        "regular_price": {
                          "type": "integer",
                          "description": "価格"
                        },
                        "discount_rate": {
                          "type": "number",
                          "description": "割引率",
                          "format": "float"
                        }
                      },
                      "required": [
                        "name",
                        "quantity",
                        "regular_price"
                      ]
                    }
                  },
                  "sales_period": {
                    "type": "object",
                    "description": "販売期間情報  \n※販売期間情報を設定するには販売期間指定のアドオンをONにする必要があります。",
                    "nullable": true,
                    "properties": {
                      "period_start_at": {
                        "type": "string",
                        "description": "販売開始日時  \nフォーマット: `YYYY-MM-DD` または `YYYY-MM-DDThh:mm:ss`",
                        "format": "date-time"
                      },
                      "period_end_at": {
                        "type": "string",
                        "description": "販売終了日時  \nフォーマット: `YYYY-MM-DD` または `YYYY-MM-DDThh:mm:ss`",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "period_start_at",
                      "period_end_at"
                    ]
                  },
                  "preorder_sales": {
                    "$ref": "#/components/schemas/PreorderSales"
                  }
                },
                "required": [
                  "name",
                  "description",
                  "status",
                  "type",
                  "variations"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "name": "Tシャツ",
                    "description": "オリジナルのTシャツです。",
                    "images": [
                      "08cf3dc613365347f68b.jpeg"
                    ],
                    "category_ids": [
                      "a123456",
                      "b2345676"
                    ],
                    "reduced_tax": false,
                    "delivery_method_ids": {
                      "domestic": "616950cd768f7263b4dab1a1"
                    },
                    "status": "shown",
                    "limited_quantity": 0,
                    "type": "regular",
                    "variations": [
                      {
                        "name": "S",
                        "quantity": 0,
                        "code": "1",
                        "barcode": "4912345678904",
                        "regular_price": 1000,
                        "discount_rate": 0.1
                      },
                      {
                        "name": "M",
                        "quantity": 20,
                        "code": "2",
                        "barcode": "4912345678904",
                        "regular_price": 1000,
                        "discount_rate": 0.1
                      },
                      {
                        "name": "L",
                        "quantity": 10,
                        "code": "3",
                        "barcode": null,
                        "regular_price": 1000,
                        "discount_rate": 0.1
                      }
                    ],
                    "sales_period": {
                      "period_start_at": "2021-12-09T12:30:00",
                      "period_end_at": "2022-01-10T12:30:00"
                    },
                    "preorder_sales": {
                      "start_month": "2021-12",
                      "end_month": "2022-01",
                      "start_period": "early",
                      "end_period": "late"
                    }
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/retail/202211/items/{item_id}": {
      "patch": {
        "tags": [],
        "summary": "アイテム更新",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Item"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "指定したカテゴリーIDからカテゴリー情報が取得できなかった場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "指定したカテゴリーIDに誤りがあります。"
                        }
                      ]
                    }
                  },
                  "指定した配送方法IDから配送方法情報が取得できなかった場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "指定した配送方法に誤りがあります。"
                        }
                      ]
                    }
                  },
                  "倉庫に存在するバリエーションを変更した場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "倉庫に存在するバリエーションは変更できません。"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Errors"
          },
          "423": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "errors": [
                        {
                          "message": "アイテム情報の更新に失敗しました。時間をおいて再度お試しください。"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [],
        "operationId": "update-retail-202211-items",
        "description": "対象アイテムを指定した内容で更新します。  \n物販のアイテムのみ更新可能です。\n\n※店舗の在庫数は設定できません。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "アイテム名"
                  },
                  "description": {
                    "type": "string",
                    "description": "商品説明"
                  },
                  "images": {
                    "type": "array",
                    "description": "アップロードした画像のファイル名  \nアイテム用画像アップロード情報生成APIから取得したファイル名を指定してください。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "category_ids": {
                    "type": "array",
                    "description": "カテゴリID  \n子カテゴリーのIDを設定するとそのカテゴリーの親カテゴリー設定されます。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "reduced_tax": {
                    "type": "boolean",
                    "description": "軽減税率対象か否か",
                    "default": false
                  },
                  "delivery_method_ids": {
                    "type": "object",
                    "description": "配送方法  \n※配送方法を設定するには送料詳細設定のアドオンがONになっている必要があります。",
                    "properties": {
                      "domestic": {
                        "description": "配送方法ID(国内)",
                        "type": "string"
                      },
                      "overseas": {
                        "description": "配送方法ID(海外)",
                        "type": "string"
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "description": "ステータス\n- shown ... 公開\n- hidden ... 非公開\n- unlisted ... 限定公開\n\nアイテムを公開するには価格、商品説明、画像が設定されている必要があります。",
                    "enum": [
                      "shown",
                      "hidden",
                      "unlisted"
                    ]
                  },
                  "limited_quantity": {
                    "type": "integer",
                    "description": "個数制限  \n※個数制限を設定するには購入個数制限のアドオンをONにする必要があります。"
                  },
                  "type": {
                    "type": "string",
                    "description": "アイテムの種類\n- regular ... 物販",
                    "enum": [
                      "regular"
                    ]
                  },
                  "variations": {
                    "type": "array",
                    "description": "バリエーション\n\n指定された内容でバリエーション情報を設定します。<br>\n※ バリエーションを更新する際、idの指定がない登録済みのバリエーションは削除されます。",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "バリエーションID\n\n※指定された場合は該当バリエーションを更新し、指定しない場合はバリエーションを新規追加します。"
                        },
                        "name": {
                          "type": "string",
                          "description": "バリエーション名"
                        },
                        "quantity": {
                          "type": "integer",
                          "description": "ネットショップの在庫数  \n※店舗の在庫数は設定できません。  \n\n在庫数が無制限の場合は `null`"
                        },
                        "code": {
                          "type": "string",
                          "description": "アイテム番号(SKU、品番)"
                        },
                        "barcode": {
                          "type": "string",
                          "nullable": true,
                          "description": "バーコード"
                        },
                        "regular_price": {
                          "type": "integer",
                          "description": "価格"
                        },
                        "discount_rate": {
                          "type": "number",
                          "description": "割引率",
                          "format": "float"
                        }
                      }
                    }
                  },
                  "sales_period": {
                    "type": "object",
                    "description": "販売期間情報  \n※販売期間情報を設定するには販売期間指定のアドオンをONにする必要があります。",
                    "nullable": true,
                    "properties": {
                      "period_start_at": {
                        "type": "string",
                        "description": "販売開始日時  \nフォーマット: `YYYY-MM-DD` または `YYYY-MM-DDThh:mm:ss`",
                        "format": "date-time"
                      },
                      "period_end_at": {
                        "type": "string",
                        "description": "販売終了日時  \nフォーマット: `YYYY-MM-DD` または `YYYY-MM-DDThh:mm:ss`",
                        "format": "date-time"
                      }
                    }
                  },
                  "preorder_sales": {
                    "$ref": "#/components/schemas/PreorderSales"
                  }
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "name": "Tシャツ",
                    "description": "オリジナルのTシャツです。",
                    "images": [
                      "08cf3dc613365347f68b.jpeg"
                    ],
                    "category_ids": [
                      "a123456",
                      "b2345676"
                    ],
                    "reduced_tax": false,
                    "delivery_method_ids": {
                      "domestic": "616950cd768f7263b4dab1a1"
                    },
                    "status": "shown",
                    "limited_quantity": 0,
                    "type": "regular",
                    "variations": [
                      {
                        "name": "S",
                        "quantity": 0,
                        "code": "1",
                        "barcode": "4912345678904",
                        "regular_price": 1000,
                        "discount_rate": 0.1
                      },
                      {
                        "name": "M",
                        "quantity": 20,
                        "code": "2",
                        "barcode": "4912345678904",
                        "regular_price": 1000,
                        "discount_rate": 0.1
                      },
                      {
                        "name": "L",
                        "quantity": 10,
                        "code": "3",
                        "barcode": null,
                        "regular_price": 1000,
                        "discount_rate": 0.1
                      }
                    ],
                    "sales_period": {
                      "period_start_at": "2021-12-09T12:30:00",
                      "period_end_at": "2022-01-10T12:30:00"
                    },
                    "preorder_sales": {
                      "start_month": "2021-12",
                      "end_month": "2022-01",
                      "start_period": "early",
                      "end_period": "late"
                    }
                  }
                }
              }
            }
          },
          "description": ""
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "item_id",
          "in": "path",
          "required": true,
          "description": "アイテムID"
        }
      ]
    },
    "/retail/202211/categories": {
      "get": {
        "summary": "カテゴリー一覧",
        "tags": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "カテゴリーID"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "作成日時"
                          },
                          "name": {
                            "type": "string",
                            "description": "カテゴリー名"
                          },
                          "parent_id": {
                            "type": "string",
                            "description": "親カテゴリーID",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "categories": [
                        {
                          "id": "61d69d81cb64675b2da8a2c7",
                          "created_at": "2021-12-09T12:30:00+09:00",
                          "name": "インテリア",
                          "parent_id": "61d69d8dcb64675b2da8a2c8"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Errors"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-retail-202211-categories",
        "description": "カテゴリーの一覧を設定されている並び順で返します。",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "ids",
            "description": "カテゴリーIDで検索する場合に指定してください。 複数指定する場合はカンマ(,)区切りで指定してください。"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "parent_ids",
            "description": "親カテゴリーIDで検索する場合に指定してください。 複数指定する場合はカンマ(,)区切りで指定してください。"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ]
      }
    },
    "/retail/202211/shipping_fee_settings": {
      "get": {
        "summary": "送料設定",
        "tags": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domestic": {
                      "$ref": "#/components/schemas/DomesticShippingFeeSetting"
                    },
                    "overseas": {
                      "$ref": "#/components/schemas/OverseasShippingFeeSetting"
                    }
                  },
                  "required": [
                    "domestic",
                    "overseas"
                  ]
                },
                "examples": {}
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "国内・海外の送料設定を返します。",
        "operationId": "get-retail-202211-shipping_fee_settings",
        "parameters": []
      },
      "parameters": []
    },
    "/retail/202211/items/image_upload": {
      "post": {
        "tags": [],
        "summary": "アイテム用画像アップロード情報生成",
        "responses": {
          "200": {
            "description": "ファイルアップロード情報",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signature": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "アップロード対象のファイル名"
                        },
                        "Expires": {
                          "type": "string",
                          "description": "期限"
                        },
                        "Content-Type": {
                          "type": "string",
                          "description": "ファイル種別"
                        },
                        "success_action_status": {
                          "type": "string",
                          "description": "送信結果"
                        },
                        "acl": {
                          "type": "string",
                          "description": "作成日時"
                        },
                        "Cache-Control": {
                          "type": "string",
                          "description": "有効期限"
                        },
                        "policy": {
                          "type": "string",
                          "description": "policy"
                        },
                        "x-amz-credential": {
                          "type": "string",
                          "description": "credential"
                        },
                        "x-amz-algorithm": {
                          "type": "string",
                          "description": "algorithm"
                        },
                        "x-amz-date": {
                          "type": "string",
                          "description": "date"
                        },
                        "x-amz-signature": {
                          "type": "string",
                          "description": "signature"
                        }
                      }
                    },
                    "post_endpoint": {
                      "type": "string",
                      "description": "アップロード先URL"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "signature": {
                        "key": "sample.jpg",
                        "Expires": "2021-12-09T12:30:00+09:00",
                        "Content-Type": "image/jpeg",
                        "success_action_status": "201",
                        "acl": "public-read",
                        "Cache-Control": "max-age=31536000",
                        "policy": "policy-example",
                        "x-amz-credential": "credential/20230328/ap-northeast-1/s3/aws4_request",
                        "x-amz-algorithm": "AWS4-HMAC-SHA256",
                        "x-amz-date": "20230328T120121Z",
                        "x-amz-signature": "signature-example"
                      },
                      "post_endpoint": "https://s3-ap-northeast-1.amazonaws.com/retail-202211"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Errors"
          },
          "403": {
            "$ref": "#/components/responses/Errors"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [],
        "operationId": "create-retail-202211-items-image-upload",
        "description": "アイテム用画像をアップロードするために必要な情報を生成します。  \nこのエンドポイントから取得できるレスポンスを使って、画像をアップロードできます。  \n画像アップロードに成功すれば、アイテム作成・更新APIを通じて、アイテムに画像を設定することができます。  \n\n### 画像アップロード手順\n1. このエンドポイント `/retail/202211/items/image_upload` にPOSTリクエストを送信してください。\n1. レスポンスから `signature` の値をフォームデータに格納します。\n1. アップロード対象のファイルをフォームデータの最後尾に `file` として追加します。\n1. レスポンスの `post_endpoint` にフォームデータをPOSTしてください。\n1. `post_endpoint` へのPOSTが正常に完了すると、`signature.key` をアイテム作成・更新APIの `image` の値として指定し、アイテムに画像を設定できます。  \n\n※アップロードされた画像は一時的に保存されますが、一定期間アイテム作成・更新で指定されず、どのアイテムにも紐づかない状態が続いた場合、削除されます。\n\n画像アップロードのサンプルコードは、このエンドポイントの「Request samples」をご覧ください。\n画像アップロードが成功すると、ステータスコード `201` で以下のようなレスポンスが返却されます。\n\n```xml\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<PostResponse>\n  <Location>https://xxxxxxxxxx/08cf3dc613365347f68b.jpeg</Location>\n  <Bucket>xxxxxx</Bucket>\n  <Key>08cf3dc613365347f68b.jpeg</Key>\n  <ETag>\"1f402d516612df43e3668bba5e34ac58\"</ETag>\n</PostResponse>\n```",
        "x-codeSamples": [
          {
            "lang": "Ruby",
            "source": "require 'net/http'\nrequire 'uri'\nrequire 'json'\n\nuri = URI.parse(\"https://api.stores.dev/retail/202211/items/image_upload\")\nparams = {\n  name: '{画像ファイル名}',\n  content_type: \"image/jpeg\",\n  size: 22822,\n}\n\nrequest = Net::HTTP::Post.new(uri)\nrequest.content_type = 'application/json'\nrequest[\"Authorization\"] = 'Bearer {credential}'\nrequest.body = params.to_json\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) do |http|\n  http.request(request)\nend\n\nbody = JSON.parse(response.body)\n# アイテム作成・更新APIのimageの値として指定する\nputs body[\"signature\"][\"key\"]\n\nupload_url = body[\"post_endpoint\"]\nsignature = body[\"signature\"]\nform_data = signature.to_a + [['file', File.open('{画像ファイルのpath}')]]\nrequest = Net::HTTP::Post.new(upload_url)\nuri = URI.parse(upload_url)\n\nrequest.set_form form_data, 'multipart/form-data'\nresponse = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) do |http|\n  http.request(request)\nend\n\nputs response.body"
          },
          {
            "lang": "PHP",
            "source": "<?php\n$url = 'https://api.stores.dev/retail/202211/items/image_upload';\n$data = [\n  'name' => '{画像ファイル名}',\n  'content_type' => 'image/png',\n  'size' => 24785\n];\n\n$ch = curl_init();\ncurl_setopt($ch, CURLOPT_URL, $url);\ncurl_setopt($ch, CURLOPT_POST, true);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n  'Content-Type: application/json',\n  'Authorization: Bearer {credential}',\n]);\ncurl_setopt($ch, CURLOPT_USERAGENT, 'ua');\ncurl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($data));\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n$response = curl_exec($ch);\n\ncurl_close($ch);\n// アイテム作成・更新APIのimageの値として指定する\necho json_decode($response, true)[\"signature\"][\"key\"];\n\n$upload_url = json_decode($response, true)[\"post_endpoint\"];\n$form_data = array_merge(\n  json_decode($response, true)[\"signature\"],\n  [ 'file' => file_get_contents('{画像ファイルのpath}') ]\n);\n$ch = curl_init();\ncurl_setopt($ch, CURLOPT_URL, $upload_url);\ncurl_setopt($ch, CURLOPT_POST, true);\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $form_data);\ncurl_setopt($ch, CURLOPT_USERAGENT, 'ua');\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n$response = curl_exec($ch);\n\ncurl_close($ch);\n\necho $response;\n?>"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const fs = require('fs');\n// npm install等を利用して、form-dataとaxiosを利用できるようにしてください\nconst FormData = require('form-data');\nconst axios = require('axios').default;\n\nconst headers  = {\n  'Content-Type': 'application/json; charset=utf-8',\n  'Authorization': 'Bearer {credential}',\n  'User-Agent': 'ua'\n};\nconst params  = {\n  name: '{画像ファイル名}',\n  content_type: 'image/jpeg',\n  size: 24785\n};\nconst filePath = '{画像ファイルのpath}';\nconst API_URL = 'https://api.stores.dev/retail/202211/items/image_upload';\n\naxios.post(API_URL, params, { headers: headers })\n  .then(response => fileUpload(\n    response.data.post_endpoint,\n    response.data.signature,\n    filePath\n  )).catch(function(error) {\n    console.log(error.response.data);\n  });\n\nconst fileUpload = (url, signature, filePath) => {\n  // アイテム作成・更新APIのimageの値として指定する\n  console.log(signature.key);\n\n  const formData = new FormData();\n  Object.keys(signature).forEach(k => formData.append(k, signature[k]));\n\n  const file = fs.createReadStream(filePath);\n  formData.append('file', file, { knownLength: fs.statSync(filePath).size });\n\n  axios.post(url, formData)\n    .then(response => {\n      console.log(response.data);\n    }).catch(function(error) {\n      console.log(error.response.data);\n    });\n};"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "ファイル名"
                  },
                  "content_type": {
                    "type": "string",
                    "description": "ファイル種別",
                    "enum": [
                      "image/png",
                      "image/jpg",
                      "image/jpeg",
                      "image/pjpeg",
                      "image/gif"
                    ]
                  },
                  "size": {
                    "type": "integer",
                    "description": "ファイルサイズ(バイト)  \n5MB以下に設定してください。",
                    "maximum": 5242880
                  }
                },
                "required": [
                  "name",
                  "content_type",
                  "size"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "name": "item.png",
                    "content_type": "image/png",
                    "size": 5000
                  }
                }
              }
            }
          }
        }
      }
    },
    "/retail/202211/variations/{variation_id}/inventories/adjustment": {
      "post": {
        "summary": "在庫調整(ネットショップのみ)",
        "tags": [],
        "operationId": "post-retail-202211-variations-variation_id-inventories-adjustment",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "variation_id": {
                      "type": "string",
                      "description": "バリエーション ID"
                    },
                    "quantity": {
                      "type": "integer",
                      "description": "更新後の在庫数\n\n在庫数が無制限の場合は `null` を返す",
                      "nullable": true
                    }
                  },
                  "required": [
                    "variation_id",
                    "quantity"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "variation_id": "616950cd768f7263b4dab1a1",
                      "quantity": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Errors"
          },
          "403": {
            "$ref": "#/components/responses/Errors"
          },
          "404": {
            "$ref": "#/components/responses/Errors"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "update_type": {
                    "type": "string",
                    "enum": [
                      "absolute",
                      "relative",
                      "unlimited"
                    ],
                    "description": "更新形式\n\n- absolute ... quantity の値を絶対値として在庫数を更新する\n- relative ... quantity の値を相対値として在庫数を更新する\n- unlimited ... 在庫数を無制限に更新する"
                  },
                  "quantity": {
                    "type": "integer",
                    "description": "在庫数\n\n`update_type` の値に応じて扱いが変化します。\n`update_type` が `unlimited` の場合には指定不要です。",
                    "nullable": true
                  }
                },
                "required": [
                  "update_type"
                ]
              },
              "examples": {
                "絶対値による更新": {
                  "value": {
                    "update_type": "absolute",
                    "quantity": 10
                  }
                },
                "相対値による更新": {
                  "value": {
                    "update_type": "relative",
                    "quantity": 3
                  }
                },
                "在庫無制限への更新": {
                  "value": {
                    "update_type": "unlimited"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "description": "ネットショップのアイテムの在庫数を更新します。"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "variation_id",
          "in": "path",
          "required": true,
          "description": "バリエーション ID"
        }
      ]
    },
    "/retail/202211/remittances": {
      "get": {
        "summary": "入金一覧",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RemittanceList"
          },
          "400": {
            "$ref": "#/components/responses/Errors"
          },
          "403": {
            "$ref": "#/components/responses/Errors"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-retail_api-202211-remittances",
        "description": "入金情報の一覧を振込日の降順で返します。\n入金済みのデータのみ返します。\n<br>\n入金情報が作成されるタイミングは大きく分けて二つになります。\n1. 通常振込(月末)\n2. スピードキャッシュによる振込\n\n<br>\n<br>\n\n## 振込金額の計算\n\n```\n振込金額 = 振込対象のオーダーの合計金額 - オーダーの決済手数料 - 振込手数料(事務手数料含む) - スピードキャッシュ手数料 - チャージバック調整金 - その他調整金\n```\n\n<br>\nまた、STORES負担クーポンが発生した場合、上記の振込とは別に振込が発生します\n<br>\n<br>\n\n## 関連リンク\n\n[商品が売れてから売上入金までの流れを教えてください。](https://faq.stores.jp/hc/ja/articles/28209258231065)\n<br>\n[スピードキャッシュとは？](https://stores.jp/speed_cash?_gl=1%2a13o8oqv%2a_ga%2aMzY1MjkzNjQ1LjE2MzE1MDY3OTI.%2a_ga_KQK7MFB3SE%2aMTYzMzU5NTM0MC4yMS4xLjE2MzM1OTg3NDYuNTE.)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+(,\\d+)*$"
            },
            "in": "query",
            "name": "ids",
            "description": "idで検索する場合に指定してください。<br/>複数指定する場合はカンマ(,)区切りで指定してください。"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "transferred_date_from",
            "description": "特定の振込日以降のオーダーを検索したい場合に指定してください。フォーマット: `YYYY-MM-DD`"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "transferred_date_to",
            "description": "特定の振込日以前のオーダーを検索したい場合に指定してください。フォーマット: `YYYY-MM-DD`"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ]
      },
      "parameters": []
    },
    "/retail/202211/remittances/{remittance_id}/order_ids": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "remittance_id",
          "in": "path",
          "required": true,
          "description": "入金id"
        }
      ],
      "get": {
        "summary": "入金対象オーダー一覧",
        "tags": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "remittance_id": {
                      "type": "string",
                      "description": "入金ID"
                    },
                    "order_ids": {
                      "type": "array",
                      "description": "オーダーID",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "remittance_id",
                    "order_ids"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "remittance_id": "string",
                      "order_ids": [
                        "string"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Errors"
          }
        },
        "operationId": "get-remittances-remittance_id-order_ids",
        "description": "特定の入金のオーダーIDを一覧で返します。"
      }
    },
    "/retail/202211/sales_channels": {
      "get": {
        "summary": "店舗情報一覧",
        "tags": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sales_channels": {
                      "type": "array",
                      "description": "",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "店舗 ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "店舗名"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "店舗作成日時"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "created_at"
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "sales_channels": [
                        {
                          "id": "jiahoiranbhoiaasoxx",
                          "name": "○×店",
                          "created_at": "2019-08-24T14:15:22Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Errors"
          },
          "403": {
            "$ref": "#/components/responses/Errors"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "operationId": "get-retail_api-202211-sales_channels",
        "description": "店舗情報の一覧を登録された日時の降順で返します。",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ]
      },
      "parameters": []
    },
    "/retail/202211/orders/{order_id}/shipped": {
      "post": {
        "summary": "発送完了",
        "tags": [],
        "description": "指定オーダーに対し、発送完了処理を行います。\n\n※ 発送完了メールの送信について\n- 発送完了メール機能がONの場合、対象のオーダーに発送完了メールが送信されます\n- 発送完了メール機能がOFFの場合、対象のオーダーに発送完了メールが送信されません",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "オーダーID\n\n※ https://api.stores.dev/retail/202109/orders から取得できるオーダー番号では更新できません。<br/>\n本ドキュメント記載のオーダー一覧から取得できる `id`（オーダーID）を指定してください。"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Order"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "商品がデジタルコンテンツまたは電子チケットの場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "商品がデジタルコンテンツまたは電子チケットのため発送完了にできません。"
                        }
                      ]
                    }
                  },
                  "発送完了にできないステータスになっている場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "発送完了にできないステータスになっているため発送完了にできません。"
                        }
                      ]
                    }
                  },
                  "更新可能な配送情報が登録されていないオーダーの場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "対象のオーダーには発送完了に更新可能な配送情報がありません。"
                        }
                      ]
                    }
                  },
                  "STORES（EC）以外で発生したオーダーの場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "ECで発生したオーダーのみ使用可能です。"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "errors": [
                        {
                          "message": "対象のオーダーが存在しません。"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "errors": [
                        {
                          "message": "対象のオーダーは発送依頼済みです。"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "errors": [
                        {
                          "message": "発送完了にできませんでした。"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/retail/202211/orders/{order_id}/deliveries": {
      "patch": {
        "summary": "配送情報更新",
        "tags": [],
        "description": "指定オーダーに対し、配送情報を更新します。\n\n※ [配送情報一括登録機能](https://officialmag.stores.jp/entry/kaigyou/storesjp-kinou/order-management)で登録可能な項目を更新します。更新対象は「発送完了」以外の項目です。",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "オーダーID\n\n※ https://api.stores.dev/retail/202109/orders から取得できるオーダー番号では更新できません。<br/>\n本ドキュメント記載のオーダー一覧から取得できる `id`（オーダーID）を指定してください。"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "delivery_method_name": {
                    "type": "string",
                    "description": "配送方法\n\n配送会社などの配送情報",
                    "maxLength": 20
                  },
                  "estimated_arrival_date": {
                    "type": "string",
                    "description": "到着予定日\n\n日付の形式に指定はありません。<br>\n\n- MM月DD日 午前中\n- YYYY/MM/DD HH:mm\n- MM月DD日",
                    "maxLength": 30
                  },
                  "tracking_number": {
                    "type": "string",
                    "description": "問い合わせ番号など",
                    "maxLength": 20
                  },
                  "shipped_mail_message": {
                    "type": "string",
                    "description": "備考\n\n購入者様に送られる発送完了メールにメッセージを含めることができます。",
                    "maxLength": 1000
                  }
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "delivery_method_name": "string",
                    "estimated_arrival_date": "2019-08-24T14:15:22Z",
                    "tracking_number": "012030485",
                    "shipped_mail_message": "配送情報メモ"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Order"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "配送情報を何も指定していない場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "対象のオーダーの配送情報を指定してください。"
                        }
                      ]
                    }
                  },
                  "規定以上の配送情報が設定されているオーダーの場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "対象のオーダーに規定以上の配送情報が設定されています。"
                        }
                      ]
                    }
                  },
                  "配送情報を設定できるオーダーではない場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "対象のオーダーには設定可能な配送情報がありません。"
                        }
                      ]
                    }
                  },
                  "STORES（EC）以外で発生したオーダーの場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "ECで発生したオーダーのみ使用可能です。"
                        }
                      ]
                    }
                  },
                  "キャンセル済みのオーダーの場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "キャンセルされたオーダーの配送情報は設定できません。"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "errors": [
                        {
                          "message": "対象のオーダーが存在しません。"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "423": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "errors": [
                        {
                          "message": "配送情報の更新に失敗しました。時間をおいて再度お試しください。"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/retail/202211/coupons": {
      "post": {
        "summary": "クーポン作成",
        "description": "指定した内容でクーポンを作成します。",
        "operationId": "create-retail-202211-coupons",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Coupon",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20,
                    "description": "クーポン名"
                  },
                  "code": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10,
                    "pattern": "^[0-9a-zA-Z]+$",
                    "description": "クーポンコード\n\n半角英数字10文字以内を指定可能です。\nコードを自動生成したい場合は `null` を指定して `auto_code_generation` の値をtrueにする必要があります。",
                    "nullable": true
                  },
                  "auto_code_generation": {
                    "type": "boolean",
                    "description": "クーポンコードを自動生成するかどうかの指定\n\n自動生成する場合は `code` の値を `null` にする必要があります。"
                  },
                  "status": {
                    "type": "boolean",
                    "description": "クーポンの状態\n\ntrueで有効、falseで無効。"
                  },
                  "quantity": {
                    "type": "integer",
                    "description": "クーポンの発行数\n\n無制限の場合は `null` を指定します。",
                    "minimum": 1,
                    "maximum": 999999,
                    "nullable": true
                  },
                  "mail_notice": {
                    "type": "boolean",
                    "description": "自動配信メール設定\n\nクーポン開始日と終了日付近にメールを会員に自動配信するかを指定します。"
                  },
                  "frequency_limitation": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "使用可能回数\n\n`0` は「何度でも使用可能」、`1` は「1人1回まで」。"
                  },
                  "details": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 1,
                    "description": "クーポンの種別と割引値の設定",
                    "items": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/FreeShippingCouponDetail"
                        },
                        {
                          "$ref": "#/components/schemas/DiscountCouponDetail"
                        },
                        {
                          "$ref": "#/components/schemas/PercentDiscountCouponDetail"
                        }
                      ]
                    }
                  },
                  "conditions": {
                    "type": "array",
                    "maxItems": 1,
                    "description": "使用条件\n\nクーポン使用に条件がない場合は空の配列を指定します。",
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "amount"
                          ],
                          "description": "使用条件の種別\n\n`amount` のみ。"
                        },
                        "value": {
                          "type": "integer",
                          "maximum": 300000,
                          "minimum": 1,
                          "description": "クーポン利用に必要な購入金額"
                        }
                      },
                      "required": [
                        "type",
                        "value"
                      ]
                    }
                  },
                  "expire": {
                    "type": "object",
                    "description": "有効期限\n\n無期限の場合は `null` を指定します。",
                    "additionalProperties": false,
                    "required": [
                      "start_date",
                      "start_hour",
                      "start_minute",
                      "end_date",
                      "end_hour",
                      "end_minute"
                    ],
                    "nullable": true,
                    "properties": {
                      "start_date": {
                        "type": "string",
                        "format": "date",
                        "description": "利用開始の日付"
                      },
                      "start_hour": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 23,
                        "description": "利用開始の時間"
                      },
                      "start_minute": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 59,
                        "description": "利用開始の分"
                      },
                      "end_date": {
                        "type": "string",
                        "format": "date",
                        "description": "利用終了の日付"
                      },
                      "end_hour": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 23,
                        "description": "利用終了の時間"
                      },
                      "end_minute": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 59,
                        "description": "利用終了の分"
                      }
                    }
                  }
                },
                "required": [
                  "name",
                  "code",
                  "auto_code_generation",
                  "status",
                  "quantity",
                  "mail_notice",
                  "frequency_limitation",
                  "details",
                  "conditions",
                  "expire"
                ]
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "name": "割引クーポン",
                    "code": "pL8PWJ21vH",
                    "auto_code_generation": false,
                    "status": true,
                    "quantity": null,
                    "mail_notice": true,
                    "frequency_limitation": 0,
                    "details": [
                      {
                        "type": "free_shipping"
                      }
                    ],
                    "conditions": [
                      {
                        "type": "amount",
                        "value": 1000
                      }
                    ],
                    "expire": {
                      "start_date": "2023-08-01",
                      "start_hour": 0,
                      "start_minute": 0,
                      "end_date": "2023-08-31",
                      "end_hour": 23,
                      "end_minute": 59
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "クーポン ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "クーポン名"
                    },
                    "code": {
                      "type": "string",
                      "description": "クーポンコード"
                    },
                    "status": {
                      "type": "boolean",
                      "description": "クーポンの利用可否"
                    },
                    "quantity": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 999999,
                      "description": "クーポンの発行数",
                      "nullable": true
                    },
                    "mail_notice": {
                      "type": "boolean",
                      "description": "自動配信メール設定"
                    },
                    "frequency_limitation": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 1,
                      "description": "使用可能回数"
                    },
                    "details": {
                      "type": "array",
                      "minItems": 1,
                      "description": "クーポンの種別と割引値の設定",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "クーポンの種別"
                          },
                          "value": {
                            "type": "integer",
                            "description": "クーポンの割引値",
                            "nullable": true
                          }
                        },
                        "required": [
                          "type",
                          "value"
                        ]
                      }
                    },
                    "conditions": {
                      "type": "array",
                      "description": "使用条件",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "使用条件の種別"
                          },
                          "value": {
                            "type": "integer",
                            "description": "クーポン利用に必要な購入金額"
                          }
                        },
                        "required": [
                          "type",
                          "value"
                        ]
                      }
                    },
                    "expire": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "start_date",
                        "start_hour",
                        "start_minute",
                        "end_date",
                        "end_hour",
                        "end_minute"
                      ],
                      "description": "有効期限",
                      "nullable": true,
                      "properties": {
                        "start_date": {
                          "type": "string",
                          "format": "date",
                          "description": "利用開始の日付"
                        },
                        "start_hour": {
                          "type": "integer",
                          "description": "利用開始の時間"
                        },
                        "start_minute": {
                          "type": "integer",
                          "description": "利用開始の分"
                        },
                        "end_date": {
                          "type": "string",
                          "format": "date",
                          "description": "利用終了の日付"
                        },
                        "end_hour": {
                          "type": "integer",
                          "description": "利用終了の時間"
                        },
                        "end_minute": {
                          "type": "integer",
                          "description": "利用終了の分"
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "作成日時"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "code",
                    "status",
                    "quantity",
                    "mail_notice",
                    "frequency_limitation",
                    "details",
                    "conditions",
                    "expire",
                    "created_at"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "616950cd768f7263b4dab1a1",
                      "name": "割引クーポン",
                      "code": "pL8PWJ21vH",
                      "status": true,
                      "quantity": null,
                      "mail_notice": true,
                      "frequency_limitation": 0,
                      "details": [
                        {
                          "type": "free_shipping",
                          "value": null
                        }
                      ],
                      "conditions": [
                        {
                          "type": "amount",
                          "value": 1000
                        }
                      ],
                      "expire": {
                        "start_date": "2023-08-01",
                        "start_hour": 0,
                        "start_minute": 0,
                        "end_date": "2023-08-31",
                        "end_hour": 23,
                        "end_minute": 59
                      },
                      "created_at": "2023-07-24T14:15:22Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "コード自動生成のパラメータが誤っている場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "コード自動生成の指定方法が誤っています。"
                        }
                      ]
                    }
                  },
                  "不正なクーポン種別が指定されている場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "指定したクーポンの種別が誤っています。"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Errors"
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "指定したクーポンコードが既にクーポンで使用されている場合": {
                    "value": {
                      "errors": [
                        {
                          "message": "指定したクーポンコードは既に使用されています。"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/retail/202211/store": {
      "get": {
        "summary": "ストア情報",
        "description": "ストア情報を返します",
        "operationId": "create-retail-202211-store",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ストア ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "ストア名"
                    }
                  },
                  "required": [
                    "id",
                    "name"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "id": "66a0ba9ed7785100a418d4f9",
                      "name": "STORES SHOP"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Errors"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PreorderPeriod": {
        "type": "string",
        "title": "PreorderPeriod",
        "enum": [
          "early",
          "middle",
          "late"
        ],
        "description": "発送予定 開始/終了時期\n\n- early ... 上旬\n- middle ... 中旬\n- late ... 下旬"
      },
      "Transaction": {
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "amazon_pay": "#/components/schemas/CommonTransaction",
            "au": "#/components/schemas/CommonTransaction",
            "bank_transfer": "#/components/schemas/CommonTransaction",
            "cash": "#/components/schemas/CommonTransaction",
            "cash_on_delivery": "#/components/schemas/CashOnDeliveryTransaction",
            "convenience_store_payment": "#/components/schemas/CommonTransaction",
            "credit_card": "#/components/schemas/CommonTransaction",
            "custom": "#/components/schemas/CustomTransaction",
            "docomo": "#/components/schemas/CommonTransaction",
            "paidy": "#/components/schemas/CommonTransaction",
            "paypal": "#/components/schemas/CommonTransaction",
            "paypay": "#/components/schemas/CommonTransaction",
            "rakuten_pay": "#/components/schemas/CommonTransaction",
            "softbank": "#/components/schemas/CommonTransaction",
            "stores_terminal_credit_card": "#/components/schemas/CommonTransaction",
            "stores_terminal_electronic_money": "#/components/schemas/CommonTransaction",
            "stores_terminal_quic_pay": "#/components/schemas/CommonTransaction",
            "stores_terminal_id": "#/components/schemas/CommonTransaction",
            "stores_terminal_smart_code": "#/components/schemas/CommonTransaction",
            "stores_terminal_paypay": "#/components/schemas/CommonTransaction",
            "stores_terminal_d_payment": "#/components/schemas/CommonTransaction",
            "stores_terminal_rakuten_pay": "#/components/schemas/CommonTransaction",
            "stores_terminal_we_chat_pay": "#/components/schemas/CommonTransaction",
            "kanzashi_point": "#/components/schemas/CommonTransaction",
            "kanzashi_smart_shiharai": "#/components/schemas/CommonTransaction",
            "unknown": "#/components/schemas/CommonTransaction"
          }
        },
        "description": "決済情報",
        "anyOf": [
          {
            "$ref": "#/components/schemas/CommonTransaction"
          },
          {
            "$ref": "#/components/schemas/CustomTransaction"
          },
          {
            "$ref": "#/components/schemas/CashOnDeliveryTransaction"
          }
        ]
      },
      "CommonTransaction": {
        "title": "CommonTransaction",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "amazon_pay",
              "au",
              "bank_transfer",
              "cash",
              "cash_on_delivery",
              "convenience_store_payment",
              "credit_card",
              "custom",
              "docomo",
              "paidy",
              "paypal",
              "paypay",
              "rakuten_pay",
              "softbank",
              "stores_terminal_credit_card",
              "stores_terminal_electronic_money",
              "stores_terminal_quic_pay",
              "stores_terminal_id",
              "stores_terminal_smart_code",
              "stores_terminal_paypay",
              "stores_terminal_d_payment",
              "stores_terminal_rakuten_pay",
              "stores_terminal_we_chat_pay",
              "kanzashi_point",
              "kanzashi_smart_shiharai",
              "unknown"
            ],
            "description": "決済方法種別\n\n- `amazon_pay` ... Amazon Pay\n- `au` ... auかんたん決済\n- `bank_transfer` ... 銀行振込\n- `cash` ... 現金\n- `cash_on_delivery` ... 代金引換\n- `convenience_store_payment` ... コンビニ決済\n- `credit_card` ... クレジットカード\n- `custom` ... 登録した任意の決済方法\n- `docomo` ... d払い\n- `paidy` ... あと払い（ペイディ）\n- `paypal` ... PayPal\n- `paypay` ... PayPay残高\n- `rakuten_pay` ... 楽天ペイ\n- `softbank` ... ソフトバンクまとめて支払い\n- `stores_terminal_credit_card` ... STORES 決済（クレジットカード）\n- `stores_terminal_electronic_money` ... STORES 決済（交通系IC）\n- `stores_terminal_quic_pay` ... STORES 決済（QUICPay）\n- `stores_terminal_id` ... STORES 決済（iD）\n- `stores_terminal_smart_code` ... STORES 決済（Smart Code）\n- `stores_terminal_paypay` ... STORES 決済（PayPay）\n- `stores_terminal_d_payment` ... STORES 決済（d払い）\n- `stores_terminal_rakuten_pay` ... STORES 決済（楽天ペイ）\n- `stores_terminal_we_chat_pay` ... STORES 決済（WeChatPay）\n- `kanzashi_point` ... 予約媒体ポイント支払い\n  - ※ STORES 予約 および かんざし連携機能利用時の支払方法\n- `kanzashi_smart_shiharai` ... スマート支払い\n  - ※ STORES 予約 および かんざし連携機能利用時の支払方法\n- `unknown` ... 現在の仕様にはない決済方法"
          },
          "sales_channel_id": {
            "type": "string",
            "description": "決済が行われた店舗の ID\n`null` の場合は EC で決済されたことを表す",
            "nullable": true
          },
          "amount": {
            "description": "支払金額",
            "type": "integer"
          },
          "deposit": {
            "description": "預かり金額",
            "type": "integer"
          },
          "change": {
            "description": "お釣り",
            "type": "integer"
          },
          "paid_at": {
            "type": "string",
            "description": "決済日時",
            "format": "date-time",
            "nullable": true
          },
          "payment_fee": {
            "type": "integer",
            "description": "決済手数料"
          },
          "payment_fee_rate": {
            "type": "number",
            "format": "float",
            "description": "決済手数料率"
          },
          "fee": {
[...]
